/* Styles specific to this workshop
------------------------------------*/
/* Today's Project */
.slide.project img {
  width: 32%;
}

/* A Basic Web Page */
.basic-web-page .example.css {
  color: #27ae60;
  font-weight: bold;
}
.basic-web-page .example.css span {
  font-style: italic;
}

/* gif wall */
.slide.gif-wall img {
  height: 250px;
  width: auto;
}

/* added by Jenn */
.image-container{
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.image-container img{
  height: 400px;
}
